/*+====================================+
  |               LINK                 |
  +====================================+*/
.link-1 {
  font-size: 1.1em;
  font-weight: 300;
  position: relative;
  cursor: pointer;

  &::before {
    content: attr(data-content);
    position: absolute;
    bottom: -100%;
    left: 0;
    transform: scaleY(-1);
    -webkit-mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );

    transition: opacity 400ms;
  }

  &:hover::before {
    opacity: 0;
  }
}

.link-2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  padding: 6px 14px;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0),
    inset -2px -2px 5px 1px rgba(255, 255, 255, 0),
    2px 2px 5px 1px rgba(0, 0, 0, 0.2),
    -2px -2px 5px 1px rgba(255, 255, 255, 0.5);

  transition: box-shadow 300ms;

  &:hover {
      box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.2),
        inset -2px -2px 5px 1px rgba(255, 255, 255, 0.5),
        2px 2px 5px 1px rgba(102, 76, 76, 0),
        -2px -2px 5px 1px rgba(255, 255, 255, 0);
  }
}

.link-2_tiny{
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 10px;

  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0),
    inset -1px -1px 4px 1px rgba(255, 255, 255, 0),
    1px 1px 4px 1px rgba(0, 0, 0, 0.2),
    -1px -1px 4px 1px rgba(255, 255, 255, 0.5);

  transition: box-shadow 300ms;

  &:hover {
      box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.2),
        inset -1px -1px 4px 1px rgba(255, 255, 255, 0.5),
        1px 1px 4px 1px rgba(102, 76, 76, 0),
        -1px -1px 4px 1px rgba(255, 255, 255, 0);
  }
}
